/* universal styles */
html{
  font-size: 16px;
  font-family: Verdana;
  color: rgba(85,85,85);
}

/* navigation */
header{
  display: flex;
  position: fixed;
  align-items: center;
  flex-grow: 1;
  z-index: 1;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  background-color: white;
}

header img{
  height: 2rem;
  padding-left: 10px
}

.title{
  flex-grow: inherit;
}

nav{
  margin-right: 1.5rem;
}

nav span{
  padding: 0.5rem;
}

/* container 1 - start here */
.container1{
  display: flex;
  width: 100%;
  top: 4rem;
  position: relative;
  margin: 0;
  flex-direction: row;
  background-color: rgba(212,212,212);
}

.banner{
  width: 60%;
}

.banner img{
  height: 36rem;
  padding: 2rem 1.5rem;
}

.learn{
  flex: display;
  justify-content: flex-start;
  width: 27%;
  margin: auto;
  margin-left: 0;
}

.learn h2{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.start-button{
 background-color: rgba(100,100,100);
}

.start-button p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  text-align: center;
}

/* container 2 - Keep Practicing */

.container2{
  display: flex;
  width: 100%;
  position: relative;
  top: 4rem;
}

.column1{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1.5rem 2rem;
}

.column1 img{
  size: contain;
}

.column2{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.article{
  display: inline-flex;
}

.article img{
  width: 35%;
  height: auto;
  margin: 1.5rem 1rem;
}

.content{
  width: 65%;
  margin: auto;
}

.time{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.article:last-child{
  background-color: rgba(200,200,200);
}

/* container 3 - Start Learning */
.container3{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(210,210,210);
  position: relative;
  top: 4rem;
}

.container3 h1{
  padding: 2rem 0rem;
  align-self: center;
}

.courses{
  display: flex;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box{
  width: 25%;
  padding: 1rem;
}

.box img{
  height: auto;
}

.description{
  margin-left: 1rem;
}

.description p a{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
